.our-feature-item{
    border-radius: 10px;
    border-bottom: 2px solid rgb(33, 186, 224);
    box-shadow: 1px 15px 25px rgba(0, 0, 0, 0.157);
}
.our-feature-icons i{
    width: 80px;
    height: 80px;
    color: rgb(33, 186, 224);
    background-color: rgb(255, 255, 255);
    font-size: 35px;
    border-radius: 50%;

    padding-top: 20px;
    text-align: center;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.219);
}